<% include ../partials/header %>
<div class = "container">
    <div class = "row text-center">
        <h1>Create a new campground</h1>
        <div style= "width: 30%; margin:30px auto;">
            <form action= "/campgrounds" method = "POST">
                <input class = "form-control form-group" type = "text" name = "newCamp" placeholder = "Campground Name" required>
                <input class = "form-control form-group" type = "text" name = "newImg" placeholder = "Image url" required>
                <textarea rows = "15" class = "form-control form-group" name = "newDesc" placeholder = "Campground Description" required></textarea>
                <div class = "form-group"><button class = "btn btn-lg btn-primary btn-block">Submit</button></div>
            </form>
        </div>
        <a href = "/campgrounds">Back to Camp Ground list!</a>
    </div>
</div>
<% include ../partials/footer %>